#root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(185, 41%, 84%);
}
.container {
    background-color: hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.brand-header {
    font-size: 28px;
    font-family: "Space Mono", monospace;
    letter-spacing: 5px;
    line-height: 2.5rem;
    font-weight: 600;
    color: hsl(184, 14%, 56%);
    margin: 100px auto;
}
.card-container {
    background-color: white;
    width: 70%;
    height: 400px;
    margin: -50px auto;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 30px slategray;
}
.card-light {
    width: 45%;
    height: 350px;
    border-radius: 25px;
    /* opacity: 0; */
    /* background-color: aqua; */
}
.card-dark {
    background-color: hsl(183, 100%, 15%);
    width: 45%;
    height: 350px;
    border-radius: 25px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
}
.input-title {
    margin: 10px;
    font-family: "Space Mono", monospace;
    color: hsl(184, 14%, 45%);
    letter-spacing: 0.8px;
    font-size: 14px;
}
.input-title2 {
    margin: 10px;
    font-family: "Space Mono", monospace;
    color: hsl(184, 14%, 45%);
    letter-spacing: 0.8px;
    font-size: 14px;
    margin-top: 20px;
}
.input-field {
    /* width: 93%;
    margin-left: 10px;
    border-radius: 5px;
    height: 40px;
    padding: 15px;
    font-size: 18px; */
    background-color: hsl(189, 41%, 97%);
    border: none;
    width: 90%;
    text-align: right;
    padding-right: 15px;
    margin-right: 2px;
    outline: none;
    color: hsl(183, 100%, 15%);
    opacity: 80%;
    font-family: "Space Mono", monospace;
}
.inr{
    font-size: 28px;
    padding-left: 10px;
    color: hsl(183, 100%, 15%);
    opacity: 80%;
    font-family: "Space Mono", monospace;
}
.input-grp {
    width: 93%;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid hsl(183, 100%, 15%);
    height: 40px;
    background-color: hsl(189, 41%, 97%);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.btn-grps {
    display: flex;
    flex-direction: column;
}
.btn-grp1 {
    margin: 10px;
}
.btn-grp2 {
    margin: 10px;
}
.tip-btn {
    width: 113px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: hsl(183, 100%, 15%);
    color: whitesmoke;
    margin-left: 20px;
    font-family: "Space Mono", monospace;
    font-size: 18px;
}
.tip-btn:focus{
    background-color: hsl(172, 67%, 45%);
}
.tip-btn1:focus{
    background-color: hsl(172, 67%, 45%);
}
.tip-btn1 {
    width: 113px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: hsl(183, 100%, 15%);
    color: whitesmoke;
    font-family: "Space Mono", monospace;
    font-size: 18px;
}
.tip-btn2 {
    width: 113px;
    height: 50px;
    border: 1px solid hsl(183, 100%, 15%);
    border-radius: 7px;
    background-color: hsl(189, 41%, 97%);
    margin-left: 20px;
    padding: 15px;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    outline: none;
    opacity: 80%;
}
.user{
    background-image: url('../../icon-person.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
    margin-left: 10px;
}
.tip-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 45px auto;
}
.tip-display2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -25px ;
}
.tip-heading{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Space Mono", monospace;
}
.tip-span{
    color: hsl(184, 14%, 45%);
    font-family: "Space Mono", monospace;
}
.tip-count{
    background-color: hsl(183, 100%, 15%);
    color: hsl(172, 67%, 45%);
    border: none;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
    width: 150px;
    font-family: "Space Mono", monospace;
}
.btn-reset{
    width: 75%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(172, 67%, 45%);
    margin: 65px 50px 0px;
}